@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  font-family: "Sora", sans-serif;
}

@keyframes fadeInOnce {
  0% { opacity: 0; transform: translateY(2rem); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeInOnce {
  animation: fadeInOnce 0.8s ease-out forwards;
}